<div class="row">
    <div class="container">
        <div class="logo">
            <img src="..\..\../assets/Imagenes/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            
                <a href=""><img src="../../../assets/Imagenes/linkedinlogo.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/Imagenes/twitterlogo.png" id="twitter"></a>
                <a href=""><img src="../../../assets/Imagenes/git.png" id="github"></a>
                
                <button type="button" class="btn btn-outline-light"(click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light"(click)="onLogOut()"*ngIf="isLogged" >CERRAR SESION</button>
            </div>


    </div>
</div>






